<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Untitled1</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Untitled1</string>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>copyright</key>
    <string>Created by commander with Sorts Mill Tools 2.1.0_alpha1 &lt;http://bitbucket.org/sortsmill/sortsmill-tools&gt;</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>ascender</key>
    <integer>1638</integer>
    <key>descender</key>
    <integer>-410</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string>2015-3-12: Created.</string>
    <key>openTypeHeadCreated</key>
    <string>2015/03/12 03:13:08</string>
    <key>openTypeHheaAscender</key>
    <integer>1860</integer>
    <key>openTypeHheaDescender</key>
    <integer>-595</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>postscriptFontName</key>
    <string>JomhuriaLatin-Regular</string>
    <key>postscriptFullName</key>
    <string>Untitled1</string>
    <key>postscriptWeightName</key>
    <string>Medium</string>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
  </dict>
</plist>
