<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1840</integer>
	<key>capHeight</key>
	<integer>1172</integer>
	<key>copyright</key>
	<string>Copyright 2015 Korosh Beigpour (www.k-b-studio.com|tarobish@gmail.com). Copyright 2015 Lasse Fister (lasse@graphicore.de). Copyright 2015 Sorkin Type Co (www.sorkintype.com). Copyright 2010-2015 Khaled Hosny (khaledhosny@eglug.org). </string>
	<key>descender</key>
	<integer>-1160</integer>
	<key>familyName</key>
	<string>Jomhuria</string>
	<key>italicAngle</key>
	<integer>0</integer>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Jomhuria</string>
	<key>openTypeHeadCreated</key>
	<string>2015/07/06 20:36:42</string>
	<key>openTypeHeadFlags</key>
	<array>
		<integer>0</integer>
		<integer>3</integer>
		<integer>7</integer>
		<integer>9</integer>
	</array>
	<key>openTypeHheaAscender</key>
	<integer>1840</integer>
	<key>openTypeHheaDescender</key>
	<integer>-1160</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDescription</key>
	<string></string>
	<key>openTypeNameDesigner</key>
	<string>Kourosh Beigpour, Lasse Fister</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://github.com/Tarobish/Jomhuria</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string></string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://github.com/Tarobish/Jomhuria</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold Italic</string>
	<key>openTypeNameSampleText</key>
	<string></string>
	<key>openTypeNameUniqueID</key>
	<string>Sorts Mill Tools 2.1.0_alpha1 : Jomhuria : 6-7-2015</string>
	<key>openTypeNameVersion</key>
	<string>Version 000.001 </string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>51</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>776</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>149</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>1950</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>420</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>2100</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>1950</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>1440</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>2100</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1840</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-1160</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>13</integer>
		<integer>29</integer>
		<integer>31</integer>
		<integer>33</integer>
		<integer>38</integer>
		<integer>45</integer>
		<integer>57</integer>
		<integer>63</integer>
		<integer>67</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string></string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>3088</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>1575</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Jomhuria-BoldItalic</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Jomhuria Bold Italic</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptUnderlinePosition</key>
	<integer>-1151</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>102</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>styleMapFamilyName</key>
	<string>Jomhuria</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Bold Italic</string>
	<key>trademark</key>
	<string></string>
	<key>unitsPerEm</key>
	<integer>3000</integer>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>824</integer>
	<key>year</key>
	<integer>2015</integer>
</dict>
</plist>
