
@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('jomhuria.eot?') format('eot'),
         url('jomhuria.woff2') format('woff2'),
         url('jomhuria.woff') format('woff'),
         url('jomhuria.ttf')  format('truetype');
}
